html, body {
    background-color: #3402fa;
}

#main-div {
    position: absolute;
    top: 40px;
    bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: green;
}

#nav-bar {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0004ff;
}

#mainscreen-div {
    width: 70%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: orange;
}

#linear-interp {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 200px;
    border-style: solid;
    padding:10px;
    border-color: white;
}

#linear-interp input {
    width: 50px;
}

#linear-interp label {
    padding: 10px;
    color: white;
}

#linear-interp b {
    color: white;
}